<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IHzbMgiftDAO">
	<resultMap id="hzbMgift_DB_Result" type="hzbMgift">
		<result column="code" property="code" />
		<result column="hzb_code" property="hzbCode" />
		<result column="slogan" property="slogan" />
		<result column="owner" property="owner" />
		
		<result column="owner_currency" property="ownerCurrency" />
		<result column="owner_amount" property="ownerAmount" />
		<result column="receive_currency" property="receiveCurrency" />
		<result column="receive_amount" property="receiveAmount" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		
		<result column="receiver" property="receiver" />
		<result column="receive_datetime" property="receiveDatetime" />
		<result column="system_code" property="systemCode" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="hzbCode != null and hzbCode != '' ">
				AND t.hzb_code = #{hzbCode}
			</if>
			<if test="owner != null and owner != '' ">
				AND t.owner = #{owner}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				AND t.create_datetime = #{createDatetime}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="receiver != null and receiver != '' ">
				AND t.receiver = #{receiver}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>	
			<if test="receiveDatetimeStart != null and receiveDatetimeStart != '' ">
				<![CDATA[AND t.receive_datetime >= #{receiveDatetimeStart}]]>
			</if>
			<if test="receiveDatetimeEnd != null and receiveDatetimeEnd != '' ">
				<![CDATA[AND t.receive_datetime <= #{receiveDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	
	<select id="select_hzbMgift" parameterType="hzbMgift" resultMap="hzbMgift_DB_Result">
		SELECT
		t.code
		,t.hzb_code
		,t.slogan
		,t.owner
		
		,t.owner_currency
		,t.owner_amount
		,t.receive_currency
		,t.receive_amount
		
		,t.create_datetime
		,t.remark
		,t.status
		,t.receiver
		,t.receive_datetime
		,t.system_code
		,t.company_code
		FROM
		tyqs_hzb_mgift t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hzbMgift_count" parameterType="hzbMgift"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyqs_hzb_mgift t
		<include refid="where_condition" />
	</select>

	<insert id="insert_hzbMgift" parameterType="hzbMgift">
		INSERT INTO
		tyqs_hzb_mgift(
		code
		,hzb_code
		,slogan
		,owner
		
		,owner_currency
		,owner_amount
		,receive_currency
		,receive_amount
		
		
		,status
		,create_datetime
		,remark
		,system_code
		,company_code
		)
		VALUES(
		#{code}
		,#{hzbCode}
		,#{slogan}
		,#{owner}
		
		,#{ownerCurrency}
		,#{ownerAmount}
		,#{receiveCurrency}
		,#{receiveAmount}
		
	
		,#{status}
		,#{createDatetime}
		,#{remark}
		,#{systemCode}
		,#{companyCode}
		)
	</insert>

	
	
	
	
	
	<update id="update_doSendHzbMgift" parameterType="hzbMgift">
		UPDATE tyqs_hzb_mgift
		SET
		status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	<update id="update_doReceiveHzbMgift" parameterType="hzbMgift">
		UPDATE tyqs_hzb_mgift
		SET
		status = #{status}
		,receiver = #{receiver}
		,receive_datetime = #{receiveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_doInvalidHzbMgift" parameterType="hzbMgift">
		UPDATE tyqs_hzb_mgift
		SET
		status = '0'
		,remark = '过期失效'
		WHERE status = #{status} AND create_datetime <= #{createDatetimeEnd}
	</update>
</mapper>