<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IHzbTemplateDAO">
	<resultMap id="hzbTemplate_DB_Result" type="hzbTemplate">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="price" property="price" />
		<result column="currency" property="currency" />
		
		<result column="period_rock_num" property="periodRockNum" />
		<result column="total_rock_num" property="totalRockNum" />
		<result column="back_amount1" property="backAmount1" />
		<result column="back_amount2" property="backAmount2" />
		<result column="back_amount3" property="backAmount3" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
		
		<result column="system_code" property="systemCode" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="currency != null and currency != '' ">
				AND t.currency = #{currency}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_hzbTemplate" parameterType="hzbTemplate" resultMap="hzbTemplate_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pic
		,t.price
		,t.currency
		
		,t.period_rock_num
		,t.total_rock_num
		,t.back_amount1
		,t.back_amount2
		,t.back_amount3
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.company_code
		
		,t.system_code
		FROM
		tyqs_hzb_template t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hzbTemplate_count" parameterType="hzbTemplate"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyqs_hzb_template t
		<include refid="where_condition" />
	</select>

	<insert id="insert_hzbTemplate" parameterType="hzbTemplate">
		INSERT INTO
		tyqs_hzb_template(
		code
		,name
		,pic
		,price
		,currency
		
		,period_rock_num
		,total_rock_num
		,back_amount1
		,back_amount2
		,back_amount3
		
		,status
		,updater
		,update_datetime
		,remark
		,company_code
		
		,system_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{pic}
		,#{price}
		,#{currency}
		
		,#{periodRockNum}
		,#{totalRockNum}
		,#{backAmount1}
		,#{backAmount2}
		,#{backAmount3}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		
		,#{systemCode}
		)
	</insert>

	<update id="update_hzbTemplate" parameterType="hzbTemplate">
		UPDATE tyqs_hzb_template
		SET
		name=#{name}
		,pic=#{pic}
		,price=#{price}
		,currency=#{currency}
		,period_rock_num=#{periodRockNum}
		
		,total_rock_num=#{totalRockNum}
		,back_amount1=#{backAmount1}
		,back_amount2=#{backAmount2}
		,back_amount3=#{backAmount3}
		,updater=#{updater}
		
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_hzbTemplate_putOn" parameterType="hzbTemplate">
		UPDATE tyqs_hzb_template
		SET
		status=#{status}
		,updater=#{updater}
		
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_hzbTemplate_putOff" parameterType="hzbTemplate">
		UPDATE tyqs_hzb_template
		SET
		status=#{status}
		,updater=#{updater}
		
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
</mapper>