<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IHzbYyDAO">
	<resultMap id="hzbYy_DB_Result" type="hzbYy">
		<result column="code" property="code" />
		<result column="hzb_code" property="hzbCode" />
		<result column="yy_currency" property="yyCurrency" />
		<result column="yy_amount" property="yyAmount" />
		<result column="user_id" property="userId" />
		<result column="device_no" property="deviceNo" />
		<result column="owner_fc_currency" property="ownerFcCurrency" />
		<result column="owner_fc_amount" property="ownerFcAmount" />
		<result column="create_datetime" property="createDatetime" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="hzbCode != null and hzbCode != '' ">
				AND t.hzb_code = #{hzbCode}
			</if>
			<if test="yyCurrency != null and yyCurrency != '' ">
				AND t.yy_currency = #{yyCurrency}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="deviceNo != null and deviceNo != '' ">
				AND t.device_no = #{deviceNo}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_hzbYy" parameterType="hzbYy" resultMap="hzbYy_DB_Result">
		SELECT
		t.code
		,t.hzb_code
		,t.yy_currency
		,t.yy_amount
		,t.user_id
		,t.device_no
		,t.owner_fc_currency
		,t.owner_fc_amount
		,t.create_datetime
		,t.company_code
		,t.system_code
		FROM
		tyqs_hzb_yy t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hzbYy_count" parameterType="hzbYy"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyqs_hzb_yy t 
		<include refid="where_condition" />
	</select>

	<insert id="insert_hzbYy" parameterType="hzbYy">
		INSERT INTO
		tyqs_hzb_yy(
		code
		,hzb_code
		,yy_currency
		,yy_amount
		,user_id
		
		,device_no
		,owner_fc_currency
		,owner_fc_amount
		,create_datetime
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{hzbCode}
		,#{yyCurrency}
		,#{yyAmount}
		,#{userId}
		
		,#{deviceNo}
		,#{ownerFcCurrency}
		,#{ownerFcAmount}
		,#{createDatetime}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
</mapper>