<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IJewelRecordDAO">
	<resultMap id="jewelRecord_DB_Result" type="jewelRecord">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="mobile" property="mobile" />
		<result column="nickname" property="nickname" />
		<result column="photo" property="photo" />
		<result column="jewel_code" property="jewelCode" />
		
		<result column="invest_datetime" property="investDatetime" />
		<result column="my_invest_times" property="myInvestTimes" />
		<result column="times" property="times" />
		<result column="pay_amount" property="payAmount" />
		<result column="pay_datetime" property="payDatetime" />
		
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="ip" property="ip" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		<result column="system_code" property="systemCode" />
		
		<result column="jewel_code" property="jewel.code" />
		<result column="jewel_template_code" property="jewel.templateCode" />
		<result column="jewel_periods" property="jewel.periods" />
		<result column="jewel_currency" property="jewel.currency" />
		<result column="jewel_amount" property="jewel.amount" />
		
		<result column="jewel_total_num" property="jewel.totalNum" />
		<result column="jewel_price" property="jewel.price" />
		<result column="jewel_max_invest_num" property="jewel.maxInvestNum" />
		<result column="jewel_adv_text" property="jewel.advText" />
		<result column="jewel_adv_pic" property="jewel.advPic" />
		
		<result column="jewel_invest_num" property="jewel.investNum" />
		<result column="jewel_create_datetime" property="jewel.createDatetime" />
		<result column="jewel_win_number" property="jewel.winNumber" />
		<result column="jewel_win_user" property="jewel.winUser" />
		<result column="jewel_win_datetime" property="jewel.winDatetime" />
		
		<result column="jewel_status" property="jewel.status" />
		<result column="jewel_remark" property="jewel.remark" />
		<result column="jewel_system_code" property="jewel.systemCode" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="jewelCode != null and jewelCode != '' ">
				AND t.jewel_code = #{jewelCode}
			</if>
			<if test="status != null and status != '' ">
				<choose>
					<when test='status == "payed"'>
						AND t.status not in(0)
					</when>
				    <otherwise>
						AND t.status = #{status}
					</otherwise>
				</choose>
			</if>
			<if test="jewel != null and jewel.status != null and jewel.status != '' ">
				AND tj.status = #{jewel.status}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="payCode != null and payCode != '' ">
				AND t.pay_code = #{payCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.code
		,t.user_id
		,tu.mobile
		,tu.nickname
		,tue.photo
		,t.jewel_code
		,t.invest_datetime
		,t.times
		,t.pay_amount
		,t.pay_datetime
		,t.status
		,t.remark
		,t.ip
		,t.pay_group
		,t.pay_code 
		,t.system_code
		FROM
		tact_jewel_record t LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id  
		                    LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_jewelRecord_count" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tact_jewel_record t 
		<include refid="where_condition" />
	</select>
	
	<select id="select_my_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.user_id
        ,sum(t.times) as my_invest_times
		,t.jewel_code
		
		,tj.code jewel_code
		,tj.template_code jewel_template_code
		,tj.periods  jewel_periods
		,tj.currency jewel_currency
		,tj.amount jewel_amount
		
		,tj.total_num jewel_total_num
		,tj.price jewel_price
		,tj.max_invest_num jewel_max_invest_num
		,tj.adv_text jewel_adv_text
		,tj.adv_pic jewel_adv_pic
		
		,tj.invest_num jewel_invest_num
		,tj.create_datetime jewel_create_datetime
		,tj.win_number jewel_win_number
		,tj.win_user jewel_win_user
		,tj.win_datetime jewel_win_datetime
		
		,tj.status jewel_status
		FROM
		tact_jewel_record t 
		LEFT JOIN tact_jewel tj ON t.jewel_code = tj.code
		LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id 
		LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
		<trim prefix="GROUP BY ">
			t.jewel_code 
		</trim>
	</select>
	
	<insert id="insert_jewelRecord" parameterType="jewelRecord">
		INSERT INTO
		tact_jewel_record(
		code
		,user_id
		,jewel_code
		,invest_datetime
		,times
		
		,pay_amount
		,pay_datetime
		,status
		,remark
		,ip
		
		,pay_group
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{jewelCode}
		,#{investDatetime}
		,#{times}
		
		,#{payAmount}
		,#{payDatetime}
		,#{status}
		,#{remark}
		,#{ip}
		
		,#{payGroup}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_status" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_pay_status" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status = #{status}
		,pay_code = #{payCode}
		,pay_datetime = #{payDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_lostInfo" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,remark=#{remark}
		WHERE jewel_code = #{jewelCode} and code != #{code}
	</update>
	
	<select id="select_totalAmount" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT sum(pay_amount) FROM tact_jewel_record t
		<include refid="where_condition" />
	</select>
</mapper>
