<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IJewelRecordDAO">
	<resultMap id="jewelRecord_DB_Result" type="jewelRecord">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="nickname" property="nickname" />
		<result column="photo" property="photo" />
		<result column="jewel_code" property="jewelCode" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="my_invest_times" property="myInvestTimes" />
		<result column="times" property="times" />
		
		<result column="pay_amount1" property="payAmount1" />
		<result column="pay_amount2" property="payAmount2" />
		<result column="pay_amount3" property="payAmount3" />
		
		<result column="status" property="status" />
		<result column="receiver" property="receiver" />
		<result column="re_mobile" property="reMobile" />
		<result column="re_address" property="reAddress" />
		<result column="remark" property="remark" />
		<result column="pay_code" property="payCode" />
		<result column="system_code" property="systemCode" />
		
		<result column="jewel_code" property="jewel.code" />
		<result column="jewel_start_datetime" property="jewel.startDatetime" />
		<result column="jewel_name" property="jewel.name" />
		<result column="jewel_slogan" property="jewel.slogan" />
		<result column="jewel_adv_pic" property="jewel.advPic" />
		
		<result column="jewel_price1" property="jewel.price1" />
		<result column="jewel_price2" property="jewel.price2" />
		<result column="jewel_price3" property="jewel.price3" />
		
		<result column="jewel_total_num" property="jewel.totalNum" />
		<result column="jewel_invest_num" property="jewel.investNum" />
		<result column="jewel_raise_days" property="jewel.raiseDays" />
		<result column="jewel_win_number" property="jewel.winNumber" />
		
		<result column="jewel_win_user_id" property="jewel.winUserId" />
		<result column="jewel_lot_alg" property="jewel.lotAlg" />
		<result column="jewel_status" property="jewel.status" />
		<result column="jewel_remark" property="jewel.remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="jewelCode != null and jewelCode != '' ">
				AND t.jewel_code = #{jewelCode}
			</if>
			<if test="status != null and status != '' ">
				<choose>
					<when test='status == "win"'>
						AND t.status in(2,4,5,6)
					</when>
				    <otherwise>
						AND t.status = #{status}
					</otherwise>
				</choose>
			</if>
			<if test="jewel != null and jewel.status != null and jewel.status != '' ">
				<choose>
					<when test='jewel.status == "all"'>
						AND tj.status in (3,5,7)
					</when>
				    <otherwise>
						AND tj.status = #{jewel.status}
					</otherwise>
				</choose>
			</if>
			<if test="payCode != null and payCode != '' ">
				AND t.pay_code = #{payCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.code
		,t.user_id
		,(select sum(tjr.times) from tact_jewel_record tjr where tjr.user_id=t.user_id and tjr.jewel_code = t.jewel_code) as my_invest_times
		,tu.nickname
		,tue.photo
		,t.jewel_code
		,t.create_datetime
		,t.times
		
		,t.pay_amount1
		,t.pay_amount2
		,t.pay_amount3
		,t.status
		,t.receiver
		,t.re_mobile
		
		,t.re_address
		,t.remark
		,t.pay_code 
		,t.system_code
		FROM
		tact_jewel_record t LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id  
		                    LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_jewelRecord_count" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tact_jewel_record t 
		<include refid="where_condition" />
	</select>
	
	<select id="select_my_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.user_id
        ,sum(t.times) as my_invest_times
		,t.jewel_code
		,tj.code jewel_code
		,tj.name jewel_name
		,tj.start_datetime as jewel_start_datetime
		,tj.slogan jewel_slogan
		,tj.adv_pic jewel_adv_pic
		
		,tj.price1 jewel_price1
		,tj.price2 jewel_price2
		,tj.price3 jewel_price3
		,tj.total_num jewel_total_num
		
		,tj.invest_num jewel_invest_num
		,tj.raise_days jewel_raise_days
		,tj.win_number jewel_win_number
		,tj.win_user_id jewel_win_user_id
		
		,tj.lot_alg jewel_lot_alg
		,tj.status jewel_status
		,tj.remark jewel_remark
		FROM
		tact_jewel_record t 
		LEFT JOIN tact_jewel tj ON t.jewel_code = tj.code
		LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id 
		LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
		<trim prefix="GROUP BY ">
			t.jewel_code 
		</trim>
	</select>
	
	<insert id="insert_jewelRecord" parameterType="jewelRecord">
		INSERT INTO
		tact_jewel_record(
		code
		,user_id
		,jewel_code
		,create_datetime
		,times
		
		,pay_amount1
		,pay_amount2
		,pay_amount3
		,pay_datetime
		,status
		
		,remark
		,pay_code
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{jewelCode}
		,#{createDatetime}
		,#{times}
		
		,#{payAmount1}
		,#{payAmount2}
		,#{payAmount3}
		,#{payDatetime}
		,#{status}
		
		,#{remark}
		,#{payCode}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_jewelRecord" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		<if test="payDatetime != null and payDatetime != '' ">
			 ,pay_datetime = #{payDatetime}
		</if>
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_jewelRecordPayAmount" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,pay_amount1 = #{payAmount1}
		,pay_amount2 = #{payAmount2}
		,pay_amount3 = #{payAmount3}
		,pay_datetime = #{payDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_jewelRecordReAddress" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,receiver=#{receiver}
		,re_mobile=#{reMobile}
		,re_address=#{reAddress}
		WHERE code = #{code}
	</update>
	
	<update id="update_lostInfo" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,remark=#{remark}
		WHERE jewel_code = #{jewelCode} and code != #{code}
	</update>
</mapper>
