<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IJewelRecordDAO">
	<resultMap id="jewelRecord_DB_Result" type="jewelRecord">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="jewel_code" property="jewelCode" />
		<result column="invest_datetime" property="investDatetime" />
		<result column="times" property="times" />
		
		<result column="ip" property="ip" />
		<result column="status" property="status" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		<result column="pay_amount" property="payAmount" />
		
		<result column="pay_datetime" property="payDatetime" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	
	<resultMap id="jewel_DB_Result" type="jewel">
		<result column="code" property="code" />
		<result column="template_code" property="templateCode" />
		<result column="periods" property="periods" />
		<result column="to_amount" property="toAmount" />
		<result column="to_currency" property="toCurrency" />
		
		<result column="total_num" property="totalNum" />
		<result column="max_num" property="maxNum" />
		<result column="invest_num" property="investNum" />
		<result column="from_amount" property="fromAmount" />
		<result column="from_currency" property="fromCurrency" />
		
		<result column="slogan" property="slogan" />
		<result column="adv_pic" property="advPic" />
		<result column="start_datetime" property="startDatetime" />
		<result column="status" property="status" />
		<result column="win_number" property="winNumber" />
		
		<result column="win_user" property="winUser" />
		<result column="win_datetime" property="winDatetime" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="jewelCode != null and jewelCode != '' ">
				AND t.jewel_code = #{jewelCode}
			</if>
			<choose>
				 <when test="status == '123'">
				  	AND (t.status = 1 or t.status = 2 or t.status = 3)
				 </when>
				 <when test="status != null and status != '' ">
				  	AND t.status = #{status}
				 </when>
				 <otherwise>
				  	AND 1 = 1
				 </otherwise>
			</choose>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			
			<if test="payCode != null and payCode != '' ">
				AND t.pay_code = #{payCode}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.jewel_code
		,t.invest_datetime
		,t.times
		
		,t.ip
		,t.status
		,t.pay_group
		,t.pay_code 
		,t.pay_amount
		
		,t.pay_datetime
		,t.company_code
		,t.system_code
		FROM
		tyydb_jewel_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_jewelRecord_count" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyydb_jewel_record t 
		<include refid="where_condition" />
	</select>
	
	<select id="select_myjewel" parameterType="jewelRecord" resultMap="jewel_DB_Result">
		SELECT
		t.code
		,t.template_code
		,t.periods
		,t.to_amount
		,t.to_currency
		
		,t.total_num
		,t.max_num
		,t.invest_num
		,t.from_amount
		,t.from_currency
		
		,t.slogan
		,t.adv_pic
		,t.start_datetime
		,t.status
		,t.win_number
		
		,t.win_user
		,t.win_datetime
		,t.company_code
		,t.system_code
		FROM
		tyydb_jewel t
		LEFT JOIN tyydb_jewel_record tjr ON  t.code = tjr.jewel_code 
		WHERE tjr.status not in(0) and tjr.user_id=#{userId}
		GROUP BY t.code 
	</select>
	
	<select id="select_myjewel_count" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT COUNT(1) FROM
        (SELECT COUNT(1)
    	FROM
        tyydb_jewel t
    	LEFT JOIN tyydb_jewel_record tjr ON t.code = tjr.jewel_code
    	WHERE
        tjr.status NOT IN (0)  and tjr.user_id=#{userId}
    	GROUP BY t.code) AS jewel_num
	</select>
	
	<insert id="insert_jewelRecord" parameterType="jewelRecord">
		INSERT INTO
		tyydb_jewel_record(
		code
		,user_id
		,jewel_code
		,invest_datetime
		,times
		
		,ip
		,status
		,pay_group
		,pay_code 
		,pay_amount
		
		,pay_datetime
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{jewelCode}
		,#{investDatetime}
		,#{times}
		
		,#{ip}
		,#{status}
		,#{payGroup}
		,#{payCode}
		,#{payAmount}
		
		,#{payDatetime}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_status" parameterType="jewelRecord">
		UPDATE tyydb_jewel_record
		SET
		status=#{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_pay_status" parameterType="jewelRecord">
		UPDATE tyydb_jewel_record
		SET
		status = #{status}
		,pay_code = #{payCode}
		,pay_datetime = #{payDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_lostInfo" parameterType="jewelRecord">
		UPDATE tyydb_jewel_record
		SET
		status=#{status}
		WHERE jewel_code = #{jewelCode} and code != #{code} and status != 0
	</update>
	
	<select id="select_totalAmount" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT sum(pay_amount) FROM tyydb_jewel_record t
		<include refid="where_condition" />
	</select>
</mapper>
