<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IJewelTemplateDAO">
	<resultMap id="JewelTemplate_DB_Result" type="JewelTemplate">
		<result column="code" property="code" />
		<result column="to_amount" property="toAmount" />
		<result column="to_currency" property="toCurrency" />
		<result column="total_num" property="totalNum" />
		<result column="max_num" property="maxNum" />
		<result column="from_amount" property="fromAmount" />
		<result column="from_currency" property="fromCurrency" />
		<result column="slogan" property="slogan" />
		<result column="adv_pic" property="advPic" />
		<result column="current_periods" property="currentPeriods" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_JewelTemplate" parameterType="JewelTemplate" resultMap="JewelTemplate_DB_Result">
		SELECT
		t.code
		,t.to_amount
		,t.to_currency
		,t.total_num
		,t.max_num
		,t.from_amount
		,t.from_currency
		,t.slogan
		,t.adv_pic
		,t.current_periods
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.company_code
		,t.system_code
		FROM
		tyydb_jewel_template t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_JewelTemplate_count" parameterType="JewelTemplate"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyydb_jewel_template t
		<include refid="where_condition" />
	</select>

	<insert id="insert_JewelTemplate" parameterType="JewelTemplate">
		INSERT INTO
		tyydb_jewel_template(
		code
		,to_amount
		,to_currency
		,total_num
		,max_num
		,from_amount
		,from_currency
		,slogan
		,adv_pic
		,current_periods
		,status
		,updater
		,update_datetime
		,remark
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{toAmount}
		,#{toCurrency}
		,#{totalNum}
		,#{maxNum}
		,#{fromAmount}
		,#{fromCurrency}
		,#{slogan}
		,#{advPic}
		,#{currentPeriods}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>

	<update id="update_JewelTemplate" parameterType="JewelTemplate">
		UPDATE tyydb_jewel_template
		SET
		to_amount = #{toAmount}
		,to_currency = #{toCurrency}
		,total_num = #{totalNum}
		,max_num = #{maxNum}
		,from_amount = #{fromAmount}
		,from_currency = #{fromCurrency}
		,slogan = #{slogan}
		,adv_pic = #{advPic}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_status" parameterType="JewelTemplate">
		UPDATE tyydb_jewel_template
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_periods" parameterType="JewelTemplate">
		UPDATE tyydb_jewel_template
		SET
		current_periods = #{currentPeriods}
		WHERE code = #{code}
	</update>

</mapper>