<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IJewelInteractDAO">
	<resultMap id="jewelInteract_DB_Result" type="jewelInteract">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="evaluate_type" property="evaluateType" />
		<result column="interacter" property="interacter" />
		<result column="interact_datetime" property="interactDatetime" />
		<result column="jewel_code" property="jewelCode" />
		<result column="order_code" property="orderCode" />
		<result column="system_code" property="systemCode" />
		<result column="interacter" property="interacterUser.userId" />
		<result column="nickname" property="interacterUser.nickname" />
		<result column="photo" property="interacterUser.photo" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="interacter != null and interacter != '' ">
				AND t.interacter = #{interacter}
			</if>
			<if test="jewelCode != null and jewelCode != '' ">
				AND t.jewel_code = #{jewelCode}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="evaluateType != null and evaluateType != '' ">
				AND t.evaluate_type = #{evaluateType}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewelInteract" parameterType="jewelInteract" resultMap="jewelInteract_DB_Result">
		SELECT
		t.id
		,t.type
		,t.evaluate_type
		,t.interacter
		,t.interact_datetime
		,t.jewel_code
		,t.order_code
		,t.system_code
		,tu.nickname
		,tue.photo
		FROM
		tact_jewel_interact t LEFT JOIN ${userDB}.tstd_user tu ON t.interacter = tu.user_id LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_jewelInteract_count" parameterType="jewelInteract"
		resultType="java.lang.Long">
		SELECT count(1) FROM tact_jewel_interact t LEFT JOIN ${userDB}.tstd_user tu ON t.interacter = tu.user_id LEFT JOIN ${userDB}.tstd_user_ext tue ON tu.user_id = tue.user_id
		<include refid="where_condition" />
	</select>

	<insert id="insert_jewelInteract" parameterType="jewelInteract">
		INSERT INTO
		tact_jewel_interact(
		type
		,evaluate_type
		,interacter
		,interact_datetime
		,jewel_code
		,order_code
		,system_code
		)
		VALUES(
		#{type}
		,#{evaluateType}
		,#{interacter}
		,#{interactDatetime}
		,#{jewelCode}
		,#{orderCode}
		,#{systemCode}
		)
	</insert>
	
	<delete id="delete_jewelInteract" parameterType="jewelInteract">
		DELETE FROM
		tact_jewel_interact
		WHERE
		code = #{code}
	</delete>
</mapper>
