<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.zhpay.dao.IJewelDAO">
	<resultMap id="jewel_DB_Result" type="jewel">
		<result column="code" property="code" />
		<result column="template_code" property="templateCode" />
		<result column="periods" property="periods" />
		<result column="to_amount" property="toAmount" />
		<result column="to_currency" property="toCurrency" />
		
		<result column="total_num" property="totalNum" />
		<result column="max_num" property="maxNum" />
		<result column="invest_num" property="investNum" />
		<result column="from_amount" property="fromAmount" />
		<result column="from_currency" property="fromCurrency" />
		
		<result column="slogan" property="slogan" />
		<result column="adv_pic" property="advPic" />
		<result column="start_datetime" property="startDatetime" />
		<result column="status" property="status" />
		<result column="win_number" property="winNumber" />
		
		<result column="win_user" property="winUser" />
		<result column="win_datetime" property="winDatetime" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="templateCode != null and templateCode != '' ">
				AND t.template_code = #{templateCode}
			</if>
			<if test="toCurrency != null and toCurrency != '' ">
				AND t.to_currency = #{toCurrency}
			</if>
			<if test="fromCurrency != null and fromCurrency != '' ">
				AND t.from_currency = #{fromCurrency}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="winUser != null and winUser != '' ">
				AND t.win_user = #{winUser}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewel" parameterType="jewel" resultMap="jewel_DB_Result">
		SELECT
		code
		,template_code
		,periods
		,to_amount
		,to_currency
		
		,total_num
		,max_num
		,invest_num
		,from_amount
		,from_currency
		
		,slogan
		,adv_pic
		,start_datetime
		,status
		,win_number
		
		,win_user
		,win_datetime
		,company_code
		,system_code
		FROM
		tyydb_jewel t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_jewel_count" parameterType="jewel"
		resultType="java.lang.Long">
		SELECT count(1) FROM tyydb_jewel t 
		<include refid="where_condition" />
	</select>

	<insert id="insert_jewel" parameterType="jewel">
		INSERT INTO
		tyydb_jewel(
		code
		,template_code
		,periods
		,to_amount
		,to_currency
		
		,total_num
		,max_num
		,invest_num
		,from_amount
		,from_currency
		
		,slogan
		,adv_pic
		,start_datetime
		,status
		,company_code
		
		,system_code
		)
		VALUES(
		#{code}
		,#{templateCode}
		,#{periods}
		,#{toAmount}
		,#{toCurrency}
		
		,#{totalNum}
		,#{maxNum}
		,#{investNum}
		,#{fromAmount}
		,#{fromCurrency}
		
		,#{slogan}
		,#{advPic}
		,#{startDatetime}
		,#{status}
		,#{companyCode}
		
		,#{systemCode}
		)
	</insert>
	
	<update id="update_status" parameterType="jewel">
		UPDATE tyydb_jewel
		SET
		status=#{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_investInfo" parameterType="jewel">
		UPDATE tyydb_jewel
		SET
		invest_num = #{investNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_winInfo" parameterType="jewel">
		UPDATE tyydb_jewel
		SET
		win_number = #{winNumber}
		,win_user = #{winUser}
		,win_datetime = #{winDatetime}
		,status = #{status}
		WHERE code = #{code}
	</update>
	
	
	<delete id="delete_jewel" parameterType="jewel">
		DELETE FROM
		tyydb_jewel
		WHERE
		code = #{code}
	</delete>
</mapper>
