<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	<bean id="sysDictBO" class="com.cdkj.zhpay.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>	
	
	<bean id="sysConfigBO" class="com.cdkj.zhpay.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>	
	
	<bean id="jewelTemplateBO" class="com.cdkj.zhpay.bo.impl.JewelTemplateBOImpl">
		<property name="paginableDAO" ref="jewelTemplateDAOImpl"/>
	</bean>	
	
	<bean id="jewelBO" class="com.cdkj.zhpay.bo.impl.JewelBOImpl">
		<property name="paginableDAO" ref="jewelDAOImpl"/>
	</bean>	
	
	<bean id="jewelRecordBO" class="com.cdkj.zhpay.bo.impl.JewelRecordBOImpl">
		<property name="paginableDAO" ref="jewelRecordDAOImpl"/>
	</bean>	
	
	<bean id="jewelRecordNumberBO" class="com.cdkj.zhpay.bo.impl.JewelRecordNumberBOImpl">
		<property name="paginableDAO" ref="jewelRecordNumberDAOImpl"/>
	</bean>	

	<bean id="hzbBO" class="com.cdkj.zhpay.bo.impl.HzbBOImpl">
		<property name="paginableDAO" ref="hzbDAOImpl"/>
	</bean>
	
	<bean id="hzbHoldBO" class="com.cdkj.zhpay.bo.impl.HzbHoldBOImpl">
		<property name="paginableDAO" ref="hzbHoldDAOImpl"/>
	</bean>
	
	<bean id="hzbYyBO" class="com.cdkj.zhpay.bo.impl.HzbYyBOImpl">
		<property name="paginableDAO" ref="hzbYyDAOImpl"/>
	</bean>
	
    <bean id="hzbMgiftBO" class="com.cdkj.zhpay.bo.impl.HzbMgiftBOImpl">
		<property name="paginableDAO" ref="hzbMgiftDAOImpl"/>
	</bean>
	
	<bean id="stockBO" class="com.cdkj.zhpay.bo.impl.StockBOImpl">
		<property name="paginableDAO" ref="stockDAOImpl"/>
	</bean>
	
	<bean id="stockHoldBO" class="com.cdkj.zhpay.bo.impl.StockHoldBOImpl">
		<property name="paginableDAO" ref="stockHoldDAOImpl"/>
	</bean>
	
	<bean id="stockBackBO" class="com.cdkj.zhpay.bo.impl.StockBackBOImpl">
		<property name="paginableDAO" ref="stockBackDAOImpl"/>
	</bean>
</beans>
